

.plus_button {
  color: #6495ed;
  position: fixed;
  bottom: 50px;
  left: 50px;
  cursor: pointer;
}
.modal_open {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  display: block;


}
.modal_close {
  @extend .modal_open;
  display: none;
}
.form_div {
  width: 50%;
  height: 500px;
  background: #e5f4ff;
  margin: 100px 22%;
  box-shadow: 0 14px 28px 5px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  padding: 20px 40px 40px 40px;
  overflow-y: scroll;




  .switch {
    align-self: end;
    margin-top: 15px;

  }
  h4 {
    text-align: center;
    padding-bottom: 20px;
  }
  h2 {
    font-weight: bold;
    margin-top: 30px;
  }

}
.cross_button {
  background: none;
  position: absolute;
  top: 7px;
  right: 5px;
  border: none;
  cursor: pointer;
}

.scratcherForm_options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 20px;
  input,
  div > div > div {
    background: white;
  }


  h1 {
    align-self: center;
  }

}

.scratcherForm_input {
  display: grid;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 0.9fr;
  column-gap: 25px;
  row-gap: 20px;
  align-items: stretch;
  div > div {
    background: white;
  }

}

.fixed_modal_footer {

  display: flex;
  flex-direction: column;
  align-items: stretch;


  background: #e5f4ff;


  .selectInput {
    background: white;




  }


  .footer_buttons {
    margin-top: 10px;
    align-self: flex-end;

    button {
      margin: 0 5px;
      background: #6495ed;
    }
  }
}
.hourly{
  display: flex;
  justify-content: flex-start;
  .hourlyInput{
    width: 19%;
    margin-right: 7px;
    -moz-appearance: textfield;



  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input::-webkit-inner-spin-button {
  display: none;
}

.WorkersHead{
  position: relative;
  background: #e5f4ff ;
  width: 20%;
  height: 680px;
  margin-left: 20px;
  box-shadow: 0 14px 28px 5px rgba(0, 0, 0, 0.25),
  0 10px 10px rgba(0, 0, 0, 0.22);
}
.Workers{
position: absolute;
  top: 30px ;
  bottom: 0;
  left: 0;
  right: 0;
  background: red;
}